{% extends "layout.html" %}
{% block body %}
    <div class="flex">
    {% for plant in flora %}
        <div class="plant">
            <h1><a href="{{ url_for('plant_page', binomial=plant.binomial) }}">{{ plant.name }}</a></h1>
        </div>
    {% endfor %}
    </div>
{% endblock %}
{% block scripts %}
    <script>
        Array.from(document.getElementsByClassName('plant')).forEach(function(plant) {
            let link = plant.getElementsByTagName('a')[0].href;
            plant.addEventListener('click', function() {
                window.location.href = link;
            });
        });
    </script>
{% endblock %}