{% extends "layout.html" %}
{% block body %}
<a class="button" href="{{ url_for('home_page') }}">Back</a>
<h1 class="h1">{{ plant.names[0] if plant else 'New plant' }}</h1>
<form action="{{ url_for('plant_page', binomial=plant.binomial) if plant else url_for('create_plant_page') }}" method="post">
    {{ form.csrf_token }}
    <label>
        Binomial
        <input name="binomial" type="text" value="{{ plant.binomial if plant else '' }}">
    </label>
    <label>
        Names
        <input name="names" type="text" value="{{ plant.names|join(', ') if plant and plant.names else '' }}">
    </label>
    <label>
        Cultivars
        <input name="cultivars" type="text" value="{{ plant.cultivars|join(', ') if plant and plant.names else '' }}">
    </label>
    <button class="button" type="submit">Save</button>
</form>
{% if plant %}
<a class="button" href="{{ url_for('delete_plant', binomial=plant.binomial) }}">Delete</a>
{% endif %}
{% endblock %}
