@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Zilla+Slab');

html {
    font-size: 16px;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
}

.h {
    font-family: 'Zilla Slab', serif;
    font-weight: normal;
}

.flex {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}

.flex__item {
    margin: 5px;
    padding: 10px;
    border-radius: 3px;
    background-color: #E5E5E5;
    flex: 1 1 20rem;
    overflow: hidden;
}

.flex__item h1 {
    margin: 0 0 10px;
    font-size: 2.2em;
}

.flex__item a {
    color: #333;
    text-decoration: none;
}

.flex__item img {
    width: 100%;
}

.flex__item--clickable:hover {
    background-color: #03323F;
    cursor: pointer;
    color: #FFF;
}

.flex__item--clickable:hover a {
    color: #FFF;
}

.form__row {
    margin: 0 0 1em 0;
}

.form__label {
    display: block;
}

.form__input {
    display: block;
    width: 100%;
}