@import url('https://fonts.googleapis.com/css?family=Zilla+Slab');

body {
    font-family: 'Zilla Slab', serif;
    color: #333;
}

h1 {
    margin: 0 0 20px;
    font-size: 1.6em;
    font-weight: normal;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.plant {
    margin: 5px;
    padding: 10px;
    border-radius: 3px;
    background-color: #E5E5E5;
    flex: 1 1 220px;
    overflow: hidden;
}

.plant:hover,
.plant:focus {
    background-color: #03323F;
    cursor: pointer;
    color: #FFF;
}

.plant a {
    color: #333;
    text-decoration: none;
}

.plant:hover a {
    color: #FFF;
}

.plant img {
    width: 100%;
}