@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Zilla+Slab');

html {
    font-size: 16px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
}

h1, h2, h3 {
    font-family: 'Zilla Slab', serif;
    font-weight: normal;
}

.flex {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}

.plant {
    margin: 5px;
    padding: 10px;
    border-radius: 3px;
    background-color: #E5E5E5;
    flex: 1 1 20rem;
    overflow: hidden;
}

.plant:hover {
    background-color: #03323F;
    cursor: pointer;
    color: #FFF;
}

.plant h1 {
    margin: 0 0 10px;
    font-size: 2.2em;
}

.plant a {
    color: #333;
    text-decoration: none;
}

.plant:hover a {
    color: #FFF;
}

.plant img {
    width: 100%;
}